# Connection URL for Redis
REDIS=

# Connection URL for MongoDB
MONGODB=

# Authentication
AUTHENTIK_ID=
AUTHENTIK_SECRET=
AUTHENTIK_ISSUER=https://sso.revolt.chat/application/o/swiss-army-knife
# For local development, disable authentication and RBAC:
# NEXT_PUBLIC_AUTH_TYPE=none

# Next Auth
# Generate secret using `openssl rand -base64 32`
NEXTAUTH_SECRET=
# URL should match where admin panel is accessible
NEXTAUTH_URL=http://localhost:3000

# Instance URLs (used for avatars, CDN links, policy links, etc.)
NEXT_PUBLIC_APP_URL=https://example.com
NEXT_PUBLIC_API_URL=https://example.com/api
NEXT_PUBLIC_CDN_URL=https://example.com/autumn

# Contact emails (shown in moderation messages to users)
NEXT_PUBLIC_SUPPORT_EMAIL=support@example.com
NEXT_PUBLIC_ABUSE_EMAIL=abuse@example.com

# Web server
PORT=3000

# Configure push notifications (optional)
NTFY_SERVER=
NTFY_TOPIC=
NTFY_USERNAME=
NTFY_PASSWORD=

# Platform Account ID
PLATFORM_ACCOUNT_ID=01FC17E1WTM2BGE4F3ARN3FDAF

# Integrations
# Zammad (create an access token in your User Profile => Token Access - select `ticket.agent, ticket.customer`)
INTEGRATION_ZAMMAD_ENDPOINT=https://help.revolt.chat/api/v1
INTEGRATION_ZAMMAD_ACCESS_TOKEN=
# N/A INTEGRATION_AUTHENTIK_ENDPOINT=https://sso.revolt.chat/api/v3
#     INTEGRATION_AUTHENTIK_API_TOKEN=
